html, body {
	background-color: #ECEDE8;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	height: 100%;
	width: 100%;
}

.container {
	background-color: #B5C9D4;
	margin: 2.5%;
	overflow-x: scroll;
}

.button-change {
	background-color: #73777A;
	border: 0;
	border-radius: 5px;
	color: #FD7E47;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 5% auto 2.5% auto;
	padding: 1% 2.5%;
	text-align: center;
	text-decoration: underline;
	width: 10%;
}

.button-change:hover {
	background-color: #FD7E47;
	color: #73777A;
	text-decoration: underline;
}

h1, h2 {
	color: #FD7E47;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin: 0;
}

.message-field {
	height: 2em;
	width: 75%;
}

.message-submit {
	background-color: #FD7E47;
	border: 0;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	height: 2em;
	margin-left: 2.5%;
	width: 20%;
}

.message-submit:hover {
	background-color: #FFF;
	color: #FD7E47;
}

.username {
	color: #ECEDE8;
	margin-bottom: 0;
	padding: 1em 0 0 1em;
}

.message {
	margin-top: 0;
	padding: 1em 0 0 1.5em;
}